{% extends 'base.html.twig' %}

{% block title %}Auteurs{% endblock %}

{% block body %}
<h2>Liste des auteurs</h2>

  {% for auteur in auteurs %}
    <p>{{auteur.name}}</p>
  {% endfor %}

{% endblock %}

