{% extends 'base.html.twig' %}

{% block title %}contact{% endblock %}

{% block body %}
  <h1>Nous contacter</h1>

  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis mollitia nemo aliquam blanditiis earum fuga ducimus omnis officia molestias modi beatae quae distinctio incidunt, in deserunt rerum error maiores officiis?<p>
{% endblock %}
