{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}


{% if age > 18 %}
    <p>vous êtes majeur</p>
{% else %}
  <p>Mais tu es mineur. Qu'est ce que tu fais là</p>
{% endif %}

{{title}}


<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita molestiae voluptatibus architecto eveniet? Ex fugiat ipsum porro modi eos provident! Ad perferendis, quibusdam recusandae nobis blanditiis inventore ipsa quos esse?</p>

<p>Alias eum distinctio animi eaque? Illum, accusantium natus. Dolores, quas tenetur sit veritatis optio dolore facere ipsam, earum beatae nobis sapiente odio totam eum dolor aspernatur exercitationem assumenda laborum. Aliquam!</p>

<p>Temporibus maxime tempora sed facere expedita consequatur porro est dolor, nostrum blanditiis laboriosam laborum hic eum ab, exercitationem quaerat molestiae. Est, odio. Molestias recusandae saepe pariatur, distinctio ullam atque repudiandae.</p>

<p>Rem quaerat nesciunt at sapiente provident ullam laudantium asperiores libero, animi obcaecati blanditiis nemo culpa, quisquam laboriosam magni expedita voluptatum! Quos eius quo veritatis? Cumque qui minima veritatis debitis ex.</p>
{% endblock %}

